# ======================
# 🔹 Node.js (Backend)
# ======================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# ======================
# 🔹 Environment Files
# ======================
.env
.env.local
.env.*.local

# ======================
# 🔹 Logs
# ======================
logs/
*.log

# ======================
# 🔹 Build Folders
# ======================
dist/
build/

# ======================
# 🔹 OS Files
# ======================
.DS_Store
Thumbs.db

# ======================
# 🔹 IDE / Editor
# ======================
.vscode/
.idea/

# ======================
# 🔹 Firebase
# ======================
.firebase/
.firebaserc

# ======================
# 🔹 Flutter / Dart
# ======================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Android
android/.gradle/
android/app/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/

# ======================
# 🔹 Misc
# ======================
*.lock
*.tmp
